/*//////////// CUSTOM STYLES FOR PULSEBAND

AUTHOR: PAIGE SAEZ
DATE CREATED:
DATE MODIFIED:

//////////// */
/*//////
*/

/* off-white #fdfdfd;*/
/* off-black #262b30;*/

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

body {
font-family: 'Lato', sans-serif;
color: #262b30;
font-weight: 300;
letter-spacing: .05em;
}

h1, h2, h3, h4 {
font-family: 'Oswald', sans-serif;
font-weight: 400;
letter-spacing: .04em;
line-height: 1.3em;
}

.hcenter {
margin: 4em auto;
border: 1px solid yellow;
}

.rmlpadding {
padding-left: 0;
}

.hero,
.features,
.data-tracking,
.insights,
.specifications,
footer {
padding-bottom: 3em;
}

.btn {
font-family: 'Oswald', sans-serif;
border-radius: 0;
letter-spacing: .02em;
}

h2 {
font-size: 2.8em;
line-height: 1.3em;
}

h3{
font-size: 1.8em;

}

p {
font-size: 1.3em;
font-weight: 300;
letter-spacing: .02em;
line-height: 1.3em;
margin-bottom: 1.3em;
}

article {
padding-bottom: 2em;
 }

/*//////////////

NAVIGATION

//////////////
*/

.navbar {
color: #fdfdfd;
height: 4.5em;
font-family: 'Oswald', sans-serif;
}

.navbar-header {
height: 4.5em;
}

.navbar li a {
color: #fdfdfd;
font-size: 1.5em;
background-color: #ccc;
}

nav li a:focus,
.nav li a:hover {
text-decoration: none;
color: blue;
background-color: transparent;
}

.navbar-right {
margin-right: 15px;
}

.navbar-right li a {
height: 2.5em;
margin-top: 5px;
}


a.navbar-brand {
background-image:url('../img/generalElectric.svg');
background-repeat: no-repeat;
/* width: 9.6em; */
background-size: 2em;
background-position: 1.6em .3em;
font-size: 1.6em;
padding-left: 4.1em;
height: 4.5em;
margin-top: 5px;
display: block;
}

.btn.buy-now.btn-white {
  color: #fdfdfd;
  border: 2px solid #fdfdfd;
  font-size: 1.2em;
  margin: .5em 0;
  padding: .5em 2em;
}




/*//////////////

HERO SECTION 1

//////////////
*/

.hero {
color: #fdfdfd;
height: 69em;
width: 100%;
background-image:url(../img/bg-lighter.jpg);
background-repeat: no-repeat;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.hero-content {
  border: 1px solid yellow;
display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.hero-copy {
    text-align: right;
    color: #fdfdfd;
}

.hero h4 {
  margin-bottom: 2em;
}

.hero h1 {
font-size: 3.2em;
margin-bottom: 1em;
}

.hero p {
  margin-bottom: 2em;
}

.hero-pulseband {
  background-image: url('../img/heroPulseband.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  height: 29em;
}

.btn.buy-now.btn-white:hover {
  border: 2px solid #fdfdfd;
  background-color: #fdfdfd;
  color: rgb(45, 64, 124);
}

.scrollArrow {
  width: 100%;
}

a#arrow {
  display: block;
  background-image: url('../img/yellowArrow.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 6em;
  height: 3em;
}

/*//////////////

FEATURES SECTION 2

//////////////
*/

.features {
background:rgb(40, 70, 102);
background-image:url(../img/grid.png);
color: #fdfdfd;
}

.ekg, .detection, .bp {
  background-image: url('../img/brackets-wht.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 7em;
  display: -webkit-box;
  display: -moz-box;
  width: 100%;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  max-width: 22em;
  margin: 0px 2.5em;
}

.ekg p, .detection p, .bp p {
  margin: 1.2em 0;
}

.ekg .pulse-animation, .detection .pulse-animation, .bp .pulse-animation {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 5em;
  height: 5em;
  width: 5em;

}

.ekg .pulse-animation {
  background-image: url('../img/greenPulse.png');
}

.detection .pulse-animation {
  background-image: url('../img/redPulse.png');
}

.bp .pulse-animation {
  background-image: url('../img/pulse.png');
}

.pulsebandFeatures {
  display: none;
 background-image: url('../img/pulsebandFeatures.png');
 background-repeat: no-repeat;
  background-size: 24.5em;
  background-position: top right;
}

/*//////////////

DATA-TRACKING SECTION 3

//////////////
*/


.data-tracking {
}

.pulsebandData {
  background-image: url('../img/pulsebandData.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 90%;
  height: 18em;

}

.get-moving, .well-rested {
background-repeat: no-repeat;
background-position: left top;
 background-size: 7em;
/* height: 100%; */
height: 8em;/* width: 9em; */
/* padding: 8em 0 1.3em 0; */
}

.get-moving {
background-image: url('../img/get-moving.svg');
}

.well-rested {
background-image: url('../img/well-rested.svg');
}

.get-moving-copy, .well-rested-copy {
 height: 100%;
}

.steps, .hours{
  /* display: block; */
  background-image: url('../img/brackets-blk.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 90%;
  height: 8em;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.steps ul, .hours ul {
  display: block;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0px;
  line-height: 5em;
  height: 3.4em;
  letter-spacing: .03em;
}

.circle {
  border: 4px solid rgba(73,208,115, 1);
  border-radius: 50%;
  width: 5em;
  height: 5em;
}

.steps-taken, .hours-slept {
line-height: 1.2em;
font-weight: 600;
text-transform: uppercase;
}

.hr, .min {
  font-size: .5em;
}

.steps-count, .hours-count {
font-size: 2.3em;
font-weight: 400;
margin-top: -0.5em;
}




/*//////////////

INSIGHTS SECTION 4

//////////////
*/

.insights {
color: #fdfdfd;
width: 100%;
background-color: #000;
background-image:url(../img/bg-darker.jpg);
background-repeat: no-repeat;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.insights h2 {
  margin-bottom: 1em;
}

.iphone {
  background-image: url('../img/iphoneBlank.svg'), url('../img/pulsebandInsights.png');
  background-repeat: no-repeat, no-repeat;
  background-size: 27.5em, 20em;
  background-position: top center,  4.7em 39em;
  height: 62em;
}

.insights-copy {
  height: 30em;
}

.insights-copy h3 {
  margin-top: 0;
  font-size: 1.5em;
}

.insights-copy p {
  font-size: 1.1em;
}
/*//////////////

SPECIFICATIONS SECTION 5

//////////////
*/

.specifications {
color: #fdfdfd;
background: rgb(100, 70, 102);
background-image:url(../img/grid.png);
background-repeat: repeat;
}

.specifications ul {
  padding-left: 1.2em;
}

.specifications ul li {
  font-size: 1.2em;
  line-height: 2em;
}

.band-animation {
background-image: url('../img/pulsebandWhiteOutline.svg');
background-repeat: no-repeat;
background-size: 80%;
background-position: center center;
height: 25em;
}


/*//////////////

FOOTER SECTION 6

//////////////
*/

footer {
background: #212A34;
color: #fdfdfd;
}

footer ul {
  padding-left: 0px;
}

footer ul li {
  display: inline-block;
  list-style: none;
  font-size: 1.1em;
  line-height: 2em;
  padding: 0 .3em;
}

footer ul li:last-child {
  margin-right: 0;
}

footer a, footer a:visited {
  color: #fdfdfd;
}

footer a:hover {
  text-decoration: underline;
}

.newsletter {
  height: 24em;
  margin-bottom: 2em;
}

.newsletter .mail {
  background-image: url('../img/mail.svg');
  background-repeat: no-repeat;
  border:  1px solid red;
  background-position: 2em center;
  height: 6em;
  /* width: 100%; */
  background-size: 29em;
}

.newsletter h2 {
  font-size: 1.4em;
  text-align: center;
  text-transform: uppercase;
  background-image: url('../img/mail.svg');
  background-repeat: no-repeat;
  background-position: center -1em;
  height: 5em;
  background-size: 7em;
  padding-top: 4em;
}

.newsletter form {
  margin-top: 3em;
}

.newsletter input {
   border: 2px solid #fdfdfd;
  background-color: transparent;
  color: #fdfdfd;
  font-size: 1.3em;
  border-radius: 0;
  height: 50px;

}

.newsletter .submit {
  border: 2px solid #fdfdfd;
  background-color: transparent;
  color: #fdfdfd;
  font-size: 1.3em;
  border-radius: 0;
  padding: .6em 1em;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: .05em;
}

.newsletter .submit:hover {
  background-color: #fdfdfd;
  color: #fdfdfd;
  }

/*hyphen or camelcase CHOOSE
*/

.first-row, .second-row {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.social-links {
  text-align: right;
}

.facebook-icon, .twitter-icon {
background-repeat: no-repeat;
height: 3em;
width: 3em;
margin-right: 1em;
display: inline-block;
}

.facebook-icon {
background-image: url('../img/facebook.svg');
}
.twitter-icon {
background-image: url('../img/twitter.svg');
}

.facebook-icon a, .twitter-icon a {
  display: none;
}




/*//////////////////////////////////
//////////////////////////////////

Small devices (tablets, 768px and up)

//////////////////////////////////
//////////////////////////////////*/
@media (min-width: 768px) {


.hcenter {
margin: 6em auto;
}

/*//////////////

768px NAVIGATION

//////////////
*/


/*//////////////

768px HERO 1

//////////////
*/

.hero {
  height: 49em;
}

.hero-content {
  flex-direction: row-reverse;
  justify-content: flex-end;
  height: 27em;
}

.hero-copy {
  text-align: right;
  width: 50%;
}

.hero h4 {
}

.hero h1 {
font-size: 3em;
}

.hero p {
}

.hero-pulseband {
    width: 50%;
    height: 29em;
    background-position: left 1em;
    background-size: 100%;
}


a#arrow {
  height: 4em;
  margin-top: 11em;
}


/*//////////////

768px FEATURES 2

//////////////
*/

.features {
  height: 71em;
}


.ekg p, .detection p, .bp p {
}

.ekg, .detection, .bp {
  background-image: url('../img/brackets-wht.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 15em;
  max-width: 16em;
  margin: 0;
}

.pulsebandFeatures {
  display: none;
}

/*//////////////

768px DATA-TRACKING 3

//////////////
*/

.pulsebandData {
  background-image: url('../img/pulsebandData.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 90%;
  height: 18em;
}

.data-tracking {
  height: 83em;
}

.get-moving, .well-rested {
  background-position: left center;
  background-size: 8em;
  height: 9em;
}

.steps, .hours {
  background-size: 100%;
  height: 13.5em;
}

.circle {
  width: 4em;
  height: 4em;
}


/*//////////////

768px INSIGHTS 4

//////////////
*/

.insights {
  height: 76em;
}

.insights h3 {
font-size: 2em;
}

.insights p {
    font-size: 1.4em;
}

.iphone {
  background-position: 9em -3em, 0.7em 5em;
  height: 48em;
}

/*//////////////

768px SPECIFICATIONS 5

//////////////
*/

.specifications {
  height: 74em;
}

.specs {
  min-height: 22em;
}

.band-animation {
  background-size: 90%;
  background-position: center center;
  height: 45em;
}



.newsletter h2 {
  font-size: 2.4em;
  background-position: center -1em;
  height: 5em;
  background-size: 7em;
  padding-top: 4.2em;
}


/*////////End custom styles 768px*/
}

/* //////////////////////////////////
//////////////////////////////////

Medium devices (desktops, 992px and up)

//////////////////////////////////
//////////////////////////////////*/
@media (min-width: 992px) {
/*//////////////

992px GLOBAL SECTION 0

//////////////
*/

.hcenter {
margin: 6em auto;
border: 1px solid yellow;
}

p {
}

h2 {
    font-size: 4.1em;
}

h3 {
    font-size: 2.5em;
    margin: 0 0 .5em 0;
}

/*//////////////

992px NAVIGATION

//////////////
*/

a.navbar-brand {
display: none;
}

.navbar {
  background-color: #ccc;
}

/*//////////////

992px HERO SECTION 1

//////////////
*/

.hero {
  height: 63em;
}

.hero-content {
  flex-direction: row-reverse;
  justify-content: flex-end;
  height: inherit;
}

.hero-copy {
  text-align: right;
  width: 50%;
}

.hero h1 {
font-size: 4.6em;
}

.hero-pulseband {
  width: 50%;
  height: 45em;
  background-position: left center;
  background-size: 75%;
}

a#arrow {
  background-size: 8%;
  height: 4em;
  margin: -1em  1em;
}

/*//////////////

992px FEATURES SECTION 2

//////////////
*/

.features {
height: 86em;
}

.pulsebandFeatures {
  display: block;
  height: 46em;
  background-size: 100%;
}

.ekg p, .detection p, .bp p {
}


.ekg, .detection, .bp {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 15em;
  max-width: 16em;
  margin: 0;
}
/*//////////////

992px DATA-TRACKING SECTION 3

//////////////
*/

.data-tracking {
height: 66em;
}

.data-pulseband {
height: 22em;
}

.get-moving, .well-rested {
background-position: center;
background-size: 10em;
height: 12.6em;
}

.steps, .hours {
height: 12.2em;
}

.ekg p, .detection p, .bp p {
}

.features h3 {
  margin-top: 1em;
}

/*//////////////

992px INSIGHTS SECTION 4

//////////////
*/

.insights {
height: 81em;
}

.insights h2 {
  margin-bottom: 1em;
}

.insights-copy {
  height: 30em;
}

.insights-copy h3 {
   margin: 0 0 0.5em 0;
   font-size: 2em;
}

.insights-copy p {
  font-size: 1.4em;
  margin-bottom: 2em;
}

.iphone {
  background-position: 8em -3em, 0em 5em;
  height: 48em;
}

/*//////////////

992px SPECIFICATIONS SECTION 5

//////////////
*/

.specifications {
height: 67em;

}

/*//////////////

992px FOOTER SECTION 6

//////////////
*/

footer {
height: 56em;

}

.newsletter h2 {
  font-size: 2.3em;
  background-position: center -1em;
  height: 6em;
  background-size: 8em;
  padding-top: 4.6em;
}

.newsletter form {
  margin-top: 1em;
}


/* END 992px MEDIA QUERY CSS
*/
}



/* //////////////////////////////////
//////////////////////////////////

Large devices (desktops, >1200px and up)

//////////////////////////////////
//////////////////////////////////*/
@media (min-width: 1200px) {

/*//////////////

1200px GLOBAL SECTION 0

//////////////
*/

.ekg, .detection, .bp {
  max-width: 19em;
}

.iphone {
  background-position: 15em -3em, 1em 5em;
  height: 48em;
}

.first-row, .second-row {
  text-align: left;
}

.social-links {
  text-align: right;
}

/*end 1200px */
}
