/*//////////// CUSTOM STYLES FOR PULSEBAND

AUTHOR: PAIGE SAEZ
DATE CREATED:
DATE MODIFIED:

//////////// */


/*//////
*/

body { padding-top: 70px;
font-family: 'Lato', sans-serif;
color: #262b30;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */


h1, h2, h3, h4 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  letter-spacing: .02em;
  margin: 1.3em 0 .5em 0;
  line-height: 1.3em;
}

h1 {
font-size: 3.5em;
/* line-height: 1.3em; */
}

h2 {
font-size: 3em;
line-height: 1.3em;
}

p {
  font-size: 1.4em;
  font-weight: 400;
  letter-spacing: .02em;
  line-height: 1.3em;
  margin-bottom: 1.3em;
}

a {
color: #262b30;
}

article {
  padding-bottom: 2em;
 }

.navbar {
height: 70px;
}

a.brand {
background-image:url('../img/pulsebandLogo.svg');
background-repeat: no-repeat;
width: 57px;
height: 55px;
background-position: 8px 9px;
}

.hero, .features, .data-tracking, .insights, .specifications, footer {
  padding-bottom: 3em;
}


/*//////////////

HERO SECTION 1

//////////////
*/
.hero {
color: #fdfdfd;
height: 55em;
width: 100%;
background-image:url(../img/bg-lighter.jpg);
background-repeat: no-repeat;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.hero h4 {
  margin-bottom: 2em;
  margin-top: 2em;
}

.read-more {
  border: 2px solid #fdfdfd;
  background-color: transparent;
  color: #fdfdfd;
  font-size: 1.3em;
  font-weight: 600;
  border-radius: 0;
  padding: 8px 23px;
  text-transform: uppercase;
  letter-spacing: .05em;
}

.read-more:hover {
  border: 2px solid #fdfdfd;
  background-color: #fdfdfd;
  font-weight: 600;
  color: rgb(45, 64, 124);
}

/*//////////////

FEATURES SECTION 2

//////////////
*/

.features {
background:rgb(40, 70, 102);
background-image:url(../img/grid.png);
color: #fdfdfd;
height: 108em;
}

.ekg-animation, .detection-animation, .bp-animation {
  background-image: url('../img/pulse.svg'), url('../img/brackets.svg');
  background-position: 5em center, center center;
  background-repeat: no-repeat;
  background-size: 6em, 90%;
  /* border: red 1px solid; */
  height: 7em;
  margin: 2em 0;
}

.ekgu {
  text-transform: uppercase;
}

.ekg-animation p, .detection-animation p, .bp-animation p{
  text-align: right;
  margin-top: 0em;
  padding: 2em;
}

.circle {
  border: 3px solid green;
  border-radius: 50%;
  width: 3em;
  height: 3em;
}
/*//////////////

DATA-TRACKING SECTION 3

//////////////
*/


.data-tracking {
height: 80em;
}

ul.data-tracking {
text-decoration: none;
  }

.steps, .hours {
  border: red 1px solid;
  height: 100px;
  /* padding-left: 0; */
  text-transform: uppercase;
}

li.steps-taken, li.hours-slept {
line-height: 1.3em;
margin-bottom: none;
font-weight: 600;
letter-spacing: .05em;
}

.hr, .min {
  font-size: .7em;
  text-transform: none;
}

li.count {
font-size: 2.7em;
margin-top: -.2em;
}



/*//////////////

INSIGHTS SECTION 4

//////////////
*/

.insights {
height: 72em;
color: #fdfdfd;
width: 100%;
background-color: #000;
background-image:url(../img/bg-darker.svg);
background-repeat: no-repeat;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}


/*//////////////

SPECIFICATIONS SECTION 5

//////////////
*/

.specifications {
height: 82em;
color: #fdfdfd;
background:rgb(40, 70, 102);
background-image:url(../img/grid.png);
background-repeat: repeat;
}

ul li {
  font-size: 1.3em;
}

.band-animation {
/*  height: 30em;*/
}


/*//////////////

FOOTER SECTION 6

//////////////
*/

footer {
height: 72em;
}

.newsletter h2 {
  text-transform: uppercase;
}

.newsletter form {
  margin-top: 3em;
}

.newsletter input {
   border: 2px solid #262b30;
  background-color: transparent;
  color: #262b30;
  font-size: 1.3em;
  border-radius: 0;
  height: 50px;

}

.newsletter .submit {
  border: 2px solid #262b30;
  background-color: transparent;
  color: #262b30;
  font-size: 1.3em;
  border-radius: 0;
  padding: .6em 1em;
  width: 100%;

    text-transform: uppercase;
  letter-spacing: .05em;
}

.newsletter .submit:hover {
  background-color: #262b30;
  color: #fdfdfd;
  }


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

/*CUSTOM QUERY CSS HERE
*/

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

h1 {
/*use percentages to increase size ex: font-size 120%;*/
/*use percentages to increase line height, what else? ex: line-height 120%;*/
}

h2 {
/*use percentages to increase size ex: font-size 120%;*/
}

h3 {
/*use percentages to increase size ex: font-size 120%;*/
}

h4 {
/*use percentages to increase size ex: font-size 120%;*/
}

p {
  /*use percentages to increase size ex: font-size 120%;*/

}


/*CUSTOM QUERY CSS HERE
*/
}

